.link__list {
    list-style: none;
    padding: 0;
}

.link__list a {
    text-decoration: none;
}

.link__list--item {
    background-color: white;
    padding: 13px 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: .2s;
    animation: ease;
    color: black;
}

.link__list--item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    transform: scale(1.1);
}