html {
  background: #4158D0;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);;
}

html, body {
  height: 100%;
}

.app-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.user_container {
  margin-top: 30px;
}

/* Navbar */

.navbar_container {
  background-color: #323232;
  height: 70px;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar_container__text {
  display: flex;
  align-items: center;
  margin: 10px 10px 15px 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar_container__categorias {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 10px 20px 15px 20px;
}

.navbar_container__categorias--nav {
  width: 100%;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.nav_list__item a {
  text-decoration: none;
  color: #ffffff;
}